<template name="company_profile">
<br>
	
	<div class="col-xs-2 container-fluid profile-sidebar" role="navigation">
		<ul>
		  <br>
			<li>Business Details</li>
			<li>Products & Services</li>
			<li>Reputation</li>
			<li>Credit</li>
		</ul>
	</div>
	<div class="container-fluid company-border-container col-xs-8">
			<h1>EastNets</h1>
			<div class="col-xs-11">
				<div class="row">
					<div class="col-sm-7">
						<div class="row profile-white-box">
							<div class="col-sm-5 no-pad-margin">
								<img class="profile-image" src="/eastnetsprofile.jpg">
							</div>
							<div class="col-sm-7">
							  <h3 class="">
							  	<span class="fa-stack fa-lg">		
							  		<i class="fa fa-circle-o fa-stack-2x"></i>
			  						<i class="fa fa-phone fa-stack-1x"></i>
			  					</span>
			  					 Contact</h3>
			  					 <br><br>
								<ul class="">
									<li class="row">
									  <div class="col-xs-4 field"><i class="fa fa-phone"></i> Phone</div>
									  <div class="col-xs-offset-1 col-xs-7 answer">+852 3796 2696</div>
									</li>
									<li class="row">
									  <div class="col-xs-4 field"><i class="fa fa-envelope-o"></i> Email</div>
									  <div class="col-xs-offset-1 col-xs-7 answer">info@eastnets.com</div>
									</li>
									<li class="row">
									  <div class="col-xs-4 field"><i class="fa fa-flag"></i> Address</div>
									  <div class="col-xs-offset-1 col-xs-7 answer">Level 7, Exchange Square Two 8 Connaught Place, Central, Hong Kong</div>
									</li>
									<li class="row">
									  <div class="col-xs-4 field"><i class="fa fa-wifi"></i> Website</div>
									  <div class="col-xs-offset-1 col-xs-7 answer">www.eastnets.com</div>
									</li>
								  <li class="row"></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-xs-5">
						<div class="row profile-white-box">
							<h1>HELLO</h1>
						</div>
					</div>
				</div>

			</div>


	</div>
</template>