<template name="companyProfile">
		<br><br><br><br>
    {{> sidebar}}
    <div class="container outer-container panel panel-default col-sm-8">
    	<h1>Business</h1>
			<ul>
				<li><div class="col-sm-3">Business Description</div><div class="col-sm-9">value</div></li>
				<li><div class="col-sm-3">Contact Information</div><div class="col-sm-9">value</div></li>
				<li><div class="col-sm-3">Years in Business</div><div class="col-sm-9">value</div></li>
				<li><div class="col-sm-3">Line of Business </div><div class="col-sm-9">value</div></li>
				<li><div class="col-sm-3">Team Bio</div><div class="col-sm-9">value</div></li>
				<li><div class="col-sm-3">Board of Directors</div><div class="col-sm-9">value</div></li>
				<li><div class="col-sm-3">Director</div><div class="col-sm-9">value</div></li>
				<li><div class="col-sm-3">Shareholders</div><div class="col-sm-9">value</div></li>
				<li><div class="col-sm-3">Legal Structure</div><div class="col-sm-9">value</div></li>
				<li><div class="col-sm-3">Key Suppliers</div><div class="col-sm-9">value</div></li>
				<li><div class="col-sm-3">Markets Served</div><div class="col-sm-9">value</div></li>
				<li><div class="col-sm-3">Employee Size and Profile</div><div class="col-sm-9">value</div></li>
				<li><div class="col-sm-3">Company history</div><div class="col-sm-9">value</div></li>
			</ul>

    </div>
</template>