<template name="capability">
		<br><br><br><br>
    {{> sidebar}}
    <div class="container outer-container panel panel-default col-sm-8">
			<h1 class="current-tab"> Compatibility</h1>
			<ul>
				<li><div class="col-sm-3">Products and Services</div><div class="col-sm-9">value</div></li>
				<li><div class="col-sm-3">Information</div><div class="col-sm-9">value</div></li>
				<li><div class="col-sm-3">Lead times</div><div class="col-sm-9">value</div></li>
				<li><div class="col-sm-3">Pricing</div><div class="col-sm-9">value</div></li>
				<li><div class="col-sm-3">Quality</div><div class="col-sm-9">value</div></li>
				<li><div class="col-sm-3">Intellectual Property</div><div class="col-sm-9">value</div></li>
				<li><div class="col-sm-3">Capacity</div><div class="col-sm-9">value</div></li>
				<li><div class="col-sm-3">Customer Reviews</div><div class="col-sm-9">value</div></li>
			</ul>


    </div>
</template>