<template name="credit">
		<br><br><br><br>
    {{> sidebar}}
    <div class="container outer-container panel panel-default col-sm-8">
			<h1>Credit</h1>
			<ul>
				<li><div class="col-sm-3">Financials</div><div class="col-sm-9">value</div></li>
				<li><div class="col-sm-3">P&L </div><div class="col-sm-9">value</div></li>
				<li><div class="col-sm-3">Balance sheet</div><div class="col-sm-9">value</div></li>
				<li><div class="col-sm-3">Cash Flow</div><div class="col-sm-9">value</div></li>
				<li><div class="col-sm-3">Key Ratios and analysis</div><div class="col-sm-9">value</div></li>
				<li><div class="col-sm-3">Stock Information/Filings (if public)</div><div class="col-sm-9">value</div></li>
				<li><div class="col-sm-3">Credit Score</div><div class="col-sm-9">value</div></li>
				<li><div class="col-sm-3">Payment Score</div><div class="col-sm-9">value</div></li>
				<li><div class="col-sm-3">Collection Experiences</div><div class="col-sm-9">value</div></li>
				<li><div class="col-sm-3">Bankruptcy Records</div><div class="col-sm-9">value</div></li>
				<li><div class="col-sm-3">Key Bankers</div><div class="col-sm-9">value</div></li>
				<li><div class="col-sm-3">Credit Facility(ies)</div><div class="col-sm-9">value</div></li>
				<li><div class="col-sm-3">Liens</div><div class="col-sm-9">value</div></li>
				<li><div class="col-sm-3">Industry analysis</div><div class="col-sm-9">value</div></li>
				<li><div class="col-sm-3">Country/region analysis</div><div class="col-sm-9">value</div></li>			
			</ul>


    </div>
</template>