<template name="reputation">
		<br><br><br><br>
    {{> sidebar}}
    <div class="container outer-container panel panel-default col-sm-8">
			<h1>Reputation</h1>
			<ul>
				<li><div class="col-sm-2">Supplier Reviews</div><div class="col-sm-10">value</div></li>
				<li><div class="col-sm-2">Employee Reviews</div><div class="col-sm-10">value</div></li>
				<li><div class="col-sm-2">Media Monitoring</div><div class="col-sm-10">value</div></li>
				<li><div class="col-sm-2">Awards</div><div class="col-sm-10">value</div></li>
				<li><div class="col-sm-2">Press releases</div><div class="col-sm-10">value</div></li>
				<li><div class="col-sm-2">CSR</div><div class="col-sm-10">value</div></li>
			
			</ul>


    </div>
</template>