<template name="search">
	<div class="search-head">
    <div class="text-center">
      <h1 class="tagline"><div class="logo-text">IdentiFly<i class="fa fa-bar-chart"></i></div>One Stop Solution For <br>Company Due Dilligence.</h1>
    </div><!-- Text input-->

    <div class="form-group">
      <div class="col-xs-offset-4 col-xs-4">
        <input class="search-input form-control input-md" id="" name="" placeholder="Company Name"
        type="text">
      </div>

      <div class="col-xs-4 search-button">
        <button class="btn btn-primary" id="search-button-unit" name="edit_submit">Search</button>
      </div>
    </div>

    <div class="hide search-dropdown col-xs-offset-4 col-xs-4">
      <div class="list-group">
        <a class="list-group-item" href="#">
        <h4 class="list-group-item-heading search-first-option">List group item heading</h4>

        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas
        sed diam eget risus varius blandit.</p></a> <a class="list-group-item" href="#">
        <h4 class="list-group-item-heading">List group item heading</h4>

        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas
        sed diam eget risus varius blandit.</p></a> <a class="list-group-item" href="#">
        <h4 class="list-group-item-heading">List group item heading</h4>

        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas
        sed diam eget risus varius blandit.</p></a>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <br>
        <br>

        <h2 class="section-heading">Features</h2>

        <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"></i>
        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i></span>

        <h4 class="service-heading">One Stop Solution</h4>

        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima
        maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
      </div>

      <div class="col-md-4">
        <span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"></i>
        <i class="fa fa-calculator fa-stack-1x fa-inverse"></i></span>

        <h4 class="service-heading">Get Just What You Need</h4>

        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima
        maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
      </div>

      

      <div class="col-md-4">
        <span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"></i>
        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i></span>

        <h4 class="service-heading">Simple Interface</h4>

        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima
        maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
      </div>
    </div>
    <br><br>
  </div>
</template>