<template name="sidebar">
  	<div class="sidebar panel-body">
  		<ul class="list-group">
	  		<li class="list-group-item sidebar-button business-button" value="Business"><i class="fa fa-briefcase"></i> Business</li>
	  		<li class="list-group-item sidebar-button capability-button" value="Capability"><i class="fa fa-bullseye"></i> Capability</li>
	  		<li class="list-group-item sidebar-button reputation-button" value="Reputation"><i class="fa fa-users"></i> Reputation</li>
	  		<li class="list-group-item sidebar-button credit-button" value="Credit"><i class="fa fa-cc-visa"></i> Credit</li>
  		</ul>
  	</div>
</template>