<template name="sidebar">
  	<div class="sidebar panel-body">
  		<ul class="list-group">
	  		<li class="list-group-item sidebar-button business-button" value="Business">Business</li>
	  		<li class="list-group-item sidebar-button capability-button" value="Capability">Capability</li>
	  		<li class="list-group-item sidebar-button reputation-button" value="Reputation">Reputation</li>
	  		<li class="list-group-item sidebar-button credit-button" value="Credit">Credit</li>
  		</ul>
  	</div>
</template>