<template name="header">
	<div class="navbar navbar-fixed-top">
		<div class="container">
			<div class="pull-left">
				<h2 class="header-title">identiFly <i class="fa fa-bar-chart"></i></h2>
			</div>
			<div class="pull-right profileBar">
				
				<!-- Drop down button -->
				<div class="dropdown">
				  <button class="icon-dropdown btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
						<div class="col-sm-3">
							<img class="small-profile-pic" src="li-and-fung-group-squarelogo.png">
						</div>
						<div class="col-sm-8 profileButton">
							<h4>Li & Fung</h4>
						</div>
				    <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
				    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
				    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
				    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
				    <li role="presentation" class="divider"></li>
				    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
				  </ul>
				</div>
				<!-- Drop down button ends here -->
			</div>
		</div>
	</div>
</template>