body .header-title {
	font-family: 'Ropa Sans', sans-serif;
}

body .header-title:hover {
	cursor: pointer; cursor: hand; 
}

body {
	font-family: 'Open Sans', sans-serif;
}

.header-wrapper {
	margin-left:6%;
	margin-right:6%;
}

.navbar {
	background-color:rgba(34, 34, 34, 0.9);
	color:white;
}

.icon-dropdown {
	padding:0;
	background-color:white;
	
}

.profileButton:hover { 
  border-color:#428bca;
}

.profileButton:hover h4 {
	font-weight:900;
}

.profileButton h4{
	font-weight:700;
	font-size:15px;
}

.profileBar{
	margin-top:1.3vh;
	display:inline;	
	cursor: pointer; cursor: hand; 
}

.small-profile-pic{
	height:43px;
	margin-right:0;
}