ul {
	list-style-type: none;
	padding-left:0px;
}

.no-pad-margin {
	margin: 0;
	padding: 0;
}

body .header-title {
	font-family: 'Ropa Sans', sans-serif;
}

body .header-title:hover {
	cursor: pointer; cursor: hand; 
}

body {
	font-family: 'Open Sans', sans-serif;
}

.header-wrapper {
	margin-left:10%;
	margin-right:6%;
}

.navbar {
	background-color:rgba(50, 50, 50, 1);
	color:white;
}

.icon-dropdown {
	padding:0;
	background-color:white;	
}

.profileButton:hover { 
  border-color:#428bca;
}

.profileButton:hover h4 {
	/*font-weight:900;*/
}

.profileButton h4{
	font-weight:700;
	font-size:15px;
}

.profileBar{
	margin-top:0.8vh;
	display:inline;	
	cursor: pointer; cursor: hand; 
}

.small-profile-pic{
	height:43px;
	margin-right:0;
}

.list-group {
	margin-bottom:0;
}
