.outer-container {
    /*background:red;*/
    min-height:900px;
    max-width:1050px;
    margin-left:auto;
    margin-right:auto;
    font-size:18px;
    padding:0;
}

.current-tab {
  margin-bottom:20px;
}

.list-heading {
  text-decoration:underline;
  font-weight:600;
}



.info-unit .col-sm-3, .info-unit .col-sm-9 {
  padding-top:15px;
  padding-bottom:15px;
  border-top: 1px solid #ddd;

}


em {
  font-weight:600;
}
