
.search-head {
	height: 100%; margin: 0; padding: 0;
  /*background-color:#302B21;*/
  background: url('/businesssky.jpg') no-repeat center center fixed;
  /*background-size: cover;*/
	background-size:cover;
	/*background-color:black;*/
  overflow-y: scroll
}

.logo-text {
	font-family: 'Ropa Sans', sans-serif;
	font-size:37px;
	color:white;
	margin-bottom:-5px;
}



.logo-text i {
  color:white;
}

.search-head .tagline {
	margin-top:13%;
	margin-bottom:6%;
	font-size: 55px;
	font-family: 'Signika', sans-serif;
}
.search-head input {
	margin-bottom:55%;
}

.search-head .search-button {
	padding-left:0;
}

.search-dropdown {
	margin-top:-16.5%;
	overflow:visible;
	height:100%;
}

.section-heading {
	font-family: 'Montserrat', sans-serif;
}

.section-subheading {
	font-size:20px;
	font-style:italic;
}

@media (min-width: 1450px) {
	.search-head .tagline {
		margin-bottom:4%;
		font-size: 68px;
	}
	.logo-text {
		font-size:50px;
		margin-top:10%;
}
  .search-input {
  	margin-bottom:5%;
  }
}

@media (min-width: 1600px){
	.search-head .tagline{
		margin-bottom:4%;
		margin-top:1%;
		font-size: 70px;
	}


	.logo-text {
		margin-top:10%;
	}
	
	.tagline{
		margin-top:2%;
	}

	.search-head input {
		margin-bottom:55%;
	}

	.search-dropdown {
		margin-top:-17%;
	}

}

@media (min-width: 1900px) {
	.search-head .tagline {
		margin-top:-3%;
		margin-bottom:4%;
		font-size: 77px;
		margin-left:5%;
		margin-right:5%;
		font-family: 'Signika', sans-serif;	
	}
	.search-head input {
		margin-bottom:250px;
	}

	.search-dropdown {
		margin-top:-246px;
		overflow:visible;
}
}

